body {
  margin: 0;
  background: black;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}